@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

.yellowShadow {
	box-shadow: 3px 3px 0 0 #b06a00;
}

.yellowShadow:hover {
	transform: translate(-3px, -3px);
	box-shadow: 6px 6px 0 0 #b06a00;
}
